<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>게시판 상세</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sandstone/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script>

    function boardUpdate(id) {
      window.location.href = "/api/board/updateForm/" + id;
    }

    function boardDelete(id) {

      $.ajax({
        type: "DELETE",
        url: "/api/board/delete/" + id, // 요청할 주소
        dataType: "json",
        contentType: "application/json",
        success: function (res) {

          alert("정상적으로 삭제되었습니다.");
          window.location.href = "/";

        }
      });
    }

    function replySave(id) {
      let contents = $('#replyContents').val();
      let writer = $('#replyWriter').val();
      if (!isValidContents(contents, writer)) {
        return false;
      }
      let data = {
        "boardId": id,
        "writer": writer,
        "contents": contents
      }

      $.ajax({
        type: "POST",
        url: "/api/reply/write", // 요청할 주소
        data: JSON.stringify(data)
        , // 여기에 json을 넣어주면 된다!
        dataType: "json",
        contentType: "application/json",
        success: function (res) {
          if (res['res'] == "success") {
            window.location.reload();
          }
        }
      });
    }

    function replyEdit(id) {
      let contents = $(`#contents-${id}`).text().trim();
      let html = `<div class="card-body">
        <div className="form-group">
        <textarea id="replyContentsUpdate" class="form-control" style="display: inline-block" rows="5">${contents}</textarea>
        </div>
        <a href="#" style="float: right" class="btn btn-primary"
           onclick="replyUpdate(${id})">저장</a>
         </div>
        `;
      $(`#cardBody-${id}`).hide();
      $(`#reply-${id}`).append(html);
    }

    function replyUpdate(id) {
      let contents = $('#replyContentsUpdate').val();
      let writer = "익명";
      if (!isValidContents(contents, writer)) {
        return false;
      }

      let data = {
        "id": id,
        "contents": contents
      }

      $.ajax({
        type: "PUT",
        url: "/api/reply/update", // 요청할 주소
        data: JSON.stringify(data)
        , // 여기에 json을 넣어주면 된다!
        dataType: "json",
        contentType: "application/json",
        success: function (res) {
          if (res['res'] == "success") {
            window.location.reload();
          }
        }
      });
    }

    function replyDelete(id) {
      let data = {
        "id": id,
      }

      $.ajax({
        type: "DELETE",
        url: "/api/reply/delete", // 요청할 주소
        data: JSON.stringify(data)
        , // 여기에 json을 넣어주면 된다!
        dataType: "json",
        contentType: "application/json",
        success: function (res) {
          window.location.reload();

        }
      });
    }

    function isValidContents(contents, writer) {
      if (contents == '') {
        alert('댓글을 입력해주세요');
        return false;
      }
      if (contents.trim().length > 140) {
        alert('공백 포함 140자 이하로 입력해주세요');
        return false;
      }

      if (writer == '') {
        alert('작성자를 입력해 주세요');
        return false;
      }

      return true;
    }
  </script>
</head>


<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand">게시판</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" style="font-size: 15px" href="/">글 목록</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="font-size: 15px" href="/api/board/writeForm">글 쓰기</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<main role="main" class="container">

  <div class="bs-docs-section">

    <div class="row">
      <div class="col-lg">
        <div class="bs-component">
          <form>
            <fieldset style="margin-top: 20px; margin-bottom: 20px">
              <div class="form-group" style="display: block">
                <h2 class="card-text" th:text="${board.title}">제목</h2>
                <h6 style="text-align: right" th:text="'작성자 : '+${board.writer}">작성자</h6>
              </div>
              <div class="form-group">
                <textarea disabled class="form-control" id="exampleTextarea" rows="10"
                          th:text="${board.contents}"></textarea>
              </div>
              <div>
                <a href="#" style="margin-left:10px; float: right" class="btn btn-primary"
                   th:onclick="'javascript:boardDelete('+ ${board.id}+');'">글 삭제</a>
                <a href="#" style=" float: right" class="btn btn-primary"
                   th:onclick="'javascript:boardUpdate('+ ${board.id}+');'">글 수정</a>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>

    <div class="card" style="margin-bottom: 20px">
      <div class="card-body" style="display: inline-block">
        <div class="form-group">
        <textarea id="replyContents" class="form-control" style="display: inline-block" rows="5"
                  placeholder="댓글을 입력하세요."></textarea>
        </div>
        <div class="form-group" style="position: absolute">
          <label style="margin-right: 5px" for="replyWriter">작성자</label>
          <input type="text" id="replyWriter">
        </div>
        <a href="#" style="float: right" class="btn btn-primary"
           th:onclick="'javascript:replySave('+${board.id}+');'">저장
        </a>
      </div>
    </div>

    <div th:each="reply : ${replies}" class="card" style="margin-bottom: 15px">
      <div th:id="'reply-'+${reply.id}" style="margin-bottom: 10px">
        <div th:id="'cardBody-'+${reply.id}" class="card-body">
          <p th:id="'contents-'+${reply.id}" class="card-text" th:text="${reply.contents}"></p>
          <div style="margin-bottom: 10px; float: right">
            <p style="text-align: right" th:id="'writer-'+${reply.id}" class="card-text"
               th:text="'작성자 : '+${reply.writer}"></p>
            <a href="#" style="float: right; margin-left:10px" class="btn btn-primary"
               th:onclick="'javascript:replyDelete('+ ${reply.id}+');'">삭제</a>
            <a href="#" style="float: right" class="btn btn-primary"
               th:onclick="'javascript:replyEdit('+ ${reply.id}+');'">수정</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


</body>

</html>
